/* || General styles */
:root {
    --gradient-color: linear-gradient(360deg, #949494 10%, #efefef 360%);
    --roboto: 'Roboto', Arial, Helvetica, sans-serif;
}

body {
    font-family: var(--roboto);
    color: white;
    font-size: 16px;
    font-weight: 400;
    overflow-x: hidden;
    line-height: 1.5;
    background-color: #121212;
    margin-bottom: 5rem;
}

* {
    margin: 0;
    padding: 0;
    outline: none !important;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    vertical-align: middle;
}

.collapsing {
    -webkit-transition: height 0.35s ease-in-out;
    -o-transition: height 0.35s ease-in-out;
    transition: height 0.35s ease-in-out;
}

.section-padding {
    padding: 80px 0 0;
}

.section-title {
    font-size: 50px;
    font-weight: 900;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.15em;
    margin: 0 0 50px;
}

/* || Typography */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

/* || Navbar */
.navbar {
    padding: 20px 0;
}

.navbar .navbar-collapse .navbar-nav {
    list-style: none;
}

.navbar>.container {
    padding: 0 15px;
}

.navbar .nav-item {
    margin-left: 20px;
}

.navbar .nav-item .nav-link {
    color: white;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 700;
    padding: 5px 0;
    position: relative;
}

.navbar .nav-item a:hover {
    background: var(--gradient-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

/* || Home Section */
.home {
    min-height: 100vh;
    padding: 3.4rem 0;
    position: relative;
    z-index: 1;
}

.home .typing-effect {
    width: 34ch;
    animation: typing 2.5s steps(34), blink 0.5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
    font-family: monospace;
    font-size: 37px;
    margin: 0 0 20px;
}

@keyframes typing {
    from {
        width: 0
    }
}

@keyframes blink {
    50% {
        border-color: transparent
    }
}

.home .button {
    padding: 0.8rem 2.2rem;
    font: normal 500 16px/20px var(--roboto);
    position: relative;
    border: 3px solid transparent;
    border-radius: 8px;
}

.home .button.home-button {
    background: white;
    background-clip: padding-box;
    color: black;
    transition: background .4s ease;
}

.home .button.home-button:hover {
    background: #161616;
    background-clip: padding-box;
    color: white;
}

.button.home-button::after {
    position: absolute;
    top: -2px;
    left: -2px;
    bottom: -2px;
    right: -2px;
    background: white;
    content: ' ';
    z-index: -1;
    border-radius: 4px;
}

.home-img img {
    width: 100%;
}

.home-img {
    position: relative;
}

/* || About Section */
.about .about-paragraph {
    font-size: 25px;
    font-weight: 400;
    text-align: center;
    line-height: 2em;
}

/* || Experience Section */
.experience .timeline {
    border-left: 3px solid #727cf5;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    background: rgba(114, 124, 245, 0.09);
    margin: 0 auto;
    letter-spacing: 0.2px;
    position: relative;
    line-height: 1.4em;
    font-size: 1.03em;
    padding: 50px;
    list-style: none;
    text-align: left;
    max-width: 55%;
}

.experience .timeline img {
    margin-bottom: 1em;
}

.experience .timeline h3 {
    font-weight: 600;
    font-size: 1rem;
    margin-bottom: 10px;
}

.experience .timeline ul {
    padding-left: 1rem;
    line-height: 1.5rem;
}

.experience .timeline li {
    margin-bottom: 0.5rem;
}

.experience .timeline .event {
    border-bottom: 1px dashed #e8ebf1;
    padding-bottom: 25px;
    margin-bottom: 25px;
    position: relative;
}

.experience .timeline .event:last-of-type {
    padding-bottom: 0;
    margin-bottom: 0;
    border: none;
}

.experience .timeline .event:before,
.experience .timeline .event:after {
    position: absolute;
    display: block;
    top: 0;
}

.experience .timeline .event:before {
    left: -297px;
    content: attr(data-date);
    text-align: right;
    font-weight: 100;
    font-size: 0.9em;
    min-width: 120px;
}

.experience .timeline .event:after {
    -webkit-box-shadow: 0 0 0 3px #727cf5;
    box-shadow: 0 0 0 3px #727cf5;
    left: -55.8px;
    background: #fff;
    border-radius: 50%;
    height: 9px;
    width: 9px;
    content: "";
    top: 5px;
}

.experience .rtl .timeline {
    border-left: 0;
    text-align: right;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
    border-right: 3px solid #727cf5;
}

.experience .rtl .timeline .event::before {
    left: 0;
    right: -170px;
}

.experience .rtl .timeline .event::after {
    left: 0;
    right: -55.8px;
}

/* || Education Section */
.education h4 {
    font-weight: 400;
}

.education .card {
    background-color: transparent;
    border: none;
    margin-bottom: 1em;
}

.education .card .card-body {
    padding: 14px 0 0 0;
}

.education .card .card-body h3, h5 {
    margin: 1px;
}

.education .card .card-body h6 {
    font-weight: 300;
}

/* || Projects Section */
.projects .card .card-body .card-title {
    font-weight: 700;
    color: black;
}

.projects .card .card-body .card-text {
    font-size: 14px;
    color: #636262;
}

.projects .card .card-body .card-text li {
    margin-bottom: 0.5em;
}

.projects .card .card-body .card-text p {
    margin-bottom: 0;
}

.projects .card .card-button {
    display: flex;
    justify-content: center;
    padding: 10px 0;
    width: 100%;
    background-color: #0D6EFD;
    color: #FFFFFF;
    border-radius: 0 0 0.375rem 0.375rem;
}

.projects .card .card-button:hover {
    background-color: #0A58CA;
    color: #FFFFFF;
}

/* || Skills Section */
.skills img {
    margin-right: 1em;
    margin-bottom: 1em;
}

/* || Contact Section */
.contact .section-title {
    margin-top: -1em;
}

.contact p {
    font-size: 27px;
    margin-bottom: 0;
}

/* || Responsive */
@media(max-width: 1397.80px) {
    .education .card .card-body {
        padding-top: 13px;
        padding-left: 20px;
    }
}

@media(max-width: 1199.40px) {
    .education .card img {
        padding-top: 9px;
    }
    
    .education .card .card-body {
        padding-top: 8px;
    }
}

@media(max-width: 1199.20px) {
    .home .typing-effect {
        font-size: 30px;
    }
}

@media (max-width: 1036px) {
    .experience .timeline {
        max-width: 98%;
        padding: 25px;
    }

    .experience .timeline .event {
        padding-top: 30px;
    }

    .experience .timeline .event:before {
        left: 0px;
        text-align: left;
    }

    .experience .timeline .event:after {
        left: -31.8px;
    }
}

@media(max-width: 1033.80px) {
    .education .card img {
        padding-top: 7px;
    }
}

@media(max-width: 991.20px) {
    .navbar .nav-item {
        margin-top: 0.5em;
        margin-left: 0;
    }

    .home .typing-effect {
        font-size: 25px;
        margin: 0 0 15px;
    }

    .home .button {
        padding: 0.6rem 1.65rem;
        font: normal 500 12px/15px var(--roboto);
        position: relative;
        border: 3px solid transparent;
        border-radius: 8px;
    }

    .education .card img {
        padding-top: 0px;
    }

    .education .card .card-body {
        padding-top: 8px;
    }
}

@media (max-width: 767.20px) {
    .home .typing-effect {
        font-size: 30px;
    }

    .home-text {
        margin-bottom: 30px;
    }

    .section-title {
        font-size: 45px;
    }

    .about .about-paragraph {
        font-size: 20px;
    }

    .education .card img {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .education .card .card-body {
        text-align: center;
        padding-left: 0;
    }

    .education .card .card-body h6 {
        margin: 0;
    }

    .contact p {
        font-size: 22px;
    }
}

@media (max-width: 636px) {
    .home .typing-effect {
        font-size: 28px;
    }
}

@media (max-width: 561px) {
    .home .typing-effect {
        font-size: 26px;
    }
}

@media (max-width: 521px) {
    .home .typing-effect {
        font-size: 24px;
    }
}

@media (max-width: 489px) {
    .home .typing-effect {
        font-size: 22px;
    }
}

@media (max-width: 450px) {
    .home .typing-effect {
        font-size: 20px;
    }
}

@media (max-width: 414px) {
    .home .typing-effect {
        font-size: 18px;
    }
}

@media (max-width: 373px) {
    .home .typing-effect {
        font-size: 16px;
        margin: 0 0 10px;
    }

    .home .button {
        padding: 0.4rem 1.1rem;
        font: normal 500 8px/10px var(--roboto);
        position: relative;
        border: 3px solid transparent;
        border-radius: 8px;
    }

    .home-text {
        margin-bottom: 20px;
    }

    .section-title {
        font-size: 40px;
    }

    .about .about-paragraph {
        font-size: 17px;
    }
}